body {
	padding-top: 80px;
}

::-webkit-scrollbar {
	background-color: #f8f9fa;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(72,56,56,0.5);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(72,56,56,0.8);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(72,56,56,1);
}

.bg-brown {
	background-color: #483838 !important;
}

.nav-link.active {
	color: #fff !important;
	opacity: 1 !important;
}

.nav-link:hover {
	color: #fff !important;
	opacity: 1 !important;
}

.trim {
	display: inline-block;
}

.size-2 {
	font-size: 2rem !important;
}

.border.border-grey {
	border-color: #999 !important;
}

.timeline {
	width: 100%;
}
.timeline .timeline-item {
	position: relative;
	width: 50%;
	margin-left: 50%;
	padding-bottom: 2.75rem;
	padding-left: 2.75rem;
	text-align: left;
}
@media (max-width: 767.98px) {
	.timeline .timeline-item {
		width: 100%;
		margin-left: 0;
	}
}
.timeline .timeline-item img {
	margin-bottom: 1.25rem;
}

.timeline .timeline-item li {
	list-style-type: "- ";
}

.timeline .timeline-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	margin-top: 0.425rem;
	margin-left: -0.5rem;
	border: 2px solid #eaedf2;
	border-radius: 50%;
}
.timeline .timeline-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: -0.1875rem;
	width: 2px;
	margin-top: 1.875rem;
	margin-left: -0.0625rem;
	background-color: #eaedf2;
}
.timeline .timeline-item:nth-child(2n + 1) {
	margin-left: 0;
	padding-right: 2.75rem;
	padding-left: 0;
	text-align: right;
}

.timeline .timeline-item:nth-child(2n + 1) .details {
	text-align: left;
	margin-left: 70px;
}
.timeline .timeline-item:nth-child(2n + 1) .keywords {
	margin-left: 100px;
}
@media (max-width: 767.98px) {
	.timeline .timeline-item:nth-child(2n + 1) {
		padding-right: 0;
		padding-left: 2.75rem;
		text-align: left;
	}
	.timeline .timeline-item:nth-child(2n + 1) .details {
		margin-left: 0;
	}
	.timeline .timeline-item:nth-child(2n + 1) .keywords {
		margin-left: 0;
	}
}
.timeline .timeline-item:nth-child(2n + 1):after,
.timeline .timeline-item:nth-child(2n + 1):before {
	right: 0;
	left: auto;
}
@media (max-width: 767.98px) {
	.timeline .timeline-item:nth-child(2n + 1):after,
	.timeline .timeline-item:nth-child(2n + 1):before {
		right: auto;
		left: 0;
	}
}
.timeline .timeline-item:nth-child(2n + 1):before {
	margin-right: -0.5rem;
}
.timeline .timeline-item:nth-child(2n + 1):after {
	margin-right: -0.0625rem;
}
.timeline.dark .timeline-item:before {
	border: 2px solid #b1bcce;
}
.timeline.dark .timeline-item:after {
	background-color: #b1bcce;
}

.tree {
	min-height: 20px;
	/* padding: 19px; */
	/* margin-bottom: 20px; */
	/* background-color: #fbfbfb; */
	/* border: 1px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; */
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); */
}
.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative;
}
.tree li::before,
.tree li::after {
	content: "";
	left: -20px;
	position: absolute;
	right: auto;
}
.tree li::before {
	border-left: 1px solid #999;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px;
}
.tree li::after {
	border-top: 1px solid #999;
	height: 20px;
	top: 25px;
	width: 25px;
}
.tree li span:not(.glyphicon) {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	padding: 4px 9px;
	text-decoration: none;
}
/* .tree li.parent_li > span:not(.glyphicon) {
	cursor: pointer;
} */
.tree > ul > li::before,
.tree > ul > li::after {
	border: 0;
}
.tree li:last-child::before {
	height: 30px;
}
/* .tree li.parent_li > span:not(.glyphicon):hover,
.tree li.parent_li > span:not(.glyphicon):hover + ul li span:not(.glyphicon) {
	background: #eee;
	border: 1px solid #999;
	padding: 3px 8px;
	color: #000;
} */

.tags {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.tags li {
	list-style-type: none !important;
	float: left;
}

.tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: "";
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}

.tag::after {
	background: #f8f9fa;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: "";
	position: absolute;
	right: 0;
	top: 0;
}

.tag:hover {
	background-color: #483838;
	color: white;
	cursor: default;
}

.tag:hover::after {
	border-left-color: #483838;
}
